* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    width: 100%;
    background-color: black;
}

body{
    background-color: grey;
}

.container, .container-head{
    height: 100%;
    width: 1080px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

#movies-text{
    height: 30px;
    width: 300px;
    margin-top: 25px;
}

#search{
    height: 30px;
    width: 60px;
    margin-top: 25px;
}

.logo{
    width: 300px;

}

.logo h2{
    color: red;
    text-transform: uppercase;
    font-size: 71px;

}

.movie{
    margin-top: 15px;
    width: 250px;
    height: 332px;
    border: 1px solid white;
}

.copertina img:hover{
    display: none;
}

.movie ul {
    list-style: none;
}

.flag{
    width: 25px;
    height: 25px;
}

.copertina img{
    width: 248px;
    height: 330px;
    position: absolute;
}

.info{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 15px;
    overflow: auto;
}

.info ul li {
    margin-bottom: 10px;
    color: white;
}
